<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd    
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd    
                        http://www.springframework.org/schema/mvc    
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!-- 使用spring组件扫描 -->
	<context:component-scan base-package="com.jyss.ziwei" />

	<!-- 配置注解驱动 -->
	<mvc:annotation-driven />

	<!-- 配置视图解析器 要求将jstl的包加到classpath -->
	<!-- ViewResolver -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- return 页面路径 -->
		<property name="prefix" value="/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 配置全局异常处理器 -->
	<bean class="com.jyss.ziwei.exception.GlobalExceptionResolver"></bean>

	<!-- 注册适配器 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
			  <!--用于100M以下的文件下载 -->
				<bean
					class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />
					<!--配置下载返回类型-->
				<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/> 
				<bean class="org.springframework.http.converter.StringHttpMessageConverter"> 
					<!--配置编码方式-->
					<property name="supportedMediaTypes" value="application/json; charset=UTF-8" /> 
				</bean> 
			</list>
		</property>
	</bean>
	

      <!-- 配置MultipartResolver 用于文件上传 使用spring的CommosMultipartResolver -->  
   <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />  
	
   <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="viewResolvers">
            <list>
                <bean class="org.springframework.web.servlet.view.BeanNameViewResolver" />
                <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <property name="prefix" value="/jsp/" />
                    <property name="suffix" value=".jsp" />
                </bean>
            </list>
        </property>
    </bean>
    
     <!-- 启用shrio授权注解拦截方式 -->  
    <!-- <aop:config proxy-target-class="true"></aop:config> -->  
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
    
      <!-- shrio授权失败跳转 -->  
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
		<props>		
		    <prop key="org.apache.shiro.authz.UnauthorizedException">  
                /shiro-unauthorized  
            </prop>  
            <prop key="org.apache.shiro.authz.UnauthenticatedException">  
                /shiro-unauthorized  
            </prop>  
		</props>
		</property>
	</bean> 

<!--     <mvc:resources location="/css/**" mapping="/css/**"/>
    <mvc:resources location="/img/**" mapping="/img/**"/>
    <mvc:resources location="/js/**" mapping="/js/**"/> -->
    
</beans> 