<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"  
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd    
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd    
                        http://www.springframework.org/schema/mvc    
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                        http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<context:annotation-config />

	<!-- 自动扫描 -->
	<context:component-scan base-package="com.jyss.ziwei.service" />
	

	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>


    <!-- 包含shiro的配置文件 -->
    <import resource="classpath:applicationContext-shiro.xml"/>


	<!-- 数据库连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${mysql-driver}" />
		<property name="url" value="${mysql-url}" />
		<property name="username" value="${mysql-username}" />
		<property name="password" value="${mysql-password}" />
		<property name="maxActive" value="20" />
		<property name="maxIdle" value="5" />
		<!-- <property name="maxIdleTime" value="1800"/>  -->
		<property name="maxWait" value="30000"/> 
		<!-- 数据连接检验  -->
		<property name="testOnBorrow" value="true"/> <!--指明连接对象是否被借出连接回收器(如果有)进行检验.如果检测失败,则连接将被从池中去除.   -->
		<property name="testOnReturn" value="true"/> <!--指明连接对象是否被返回连接回收器(如果有)进行检验.如果检测失败,则连接将被从池中去除.   -->
		<property name="testWhileIdle" value="true"/> <!--  指明连接对象是否被空闲连接回收器(如果有)进行检验.如果检测失败,则连接将被从池中去除.    -->
		<property name="validationQuery" value="SELECT 1"/> <!-- 验证使用的SQL语句  -->
		<property name="minEvictableIdleTimeMillis" value="1800000"/> <!-- 池中的连接空闲30分钟后被回收   -->
		<property name="timeBetweenEvictionRunsMillis" value="30000"/> <!--  每30秒运行一次空闲连接回收器 -->
		 
	</bean>

	<!-- SqlsessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:SqlMapConfig.xml" />

	</bean>


	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.jyss.ziwei.mapper" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />

	</bean>
	
	
	<!-- 事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- 通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- 传播行为 -->
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="find*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="select*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="get*" propagation="SUPPORTS" read-only="true" />
		</tx:attributes>
	</tx:advice>
	
	<!-- 切面 -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution(* com.jyss.ziwei.service.*.*(..))" />
	</aop:config>

</beans> 