<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.ziwei.mapper.BodyDietMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.ziwei.entity.BodyDiet" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="BIGINT" />
    <result column="meal" property="meal" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="food_name" property="foodName" jdbcType="VARCHAR" />
    <result column="details" property="details" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="created" property="created" jdbcType="DATE" />
  </resultMap>

  <resultMap id="listBaseResultMap" type="string" >
    <result column="created"  jdbcType="DATE" />
  </resultMap>

  <insert id="insertBodyDiet" parameterType="com.jyss.ziwei.entity.BodyDiet" >
    insert into d_body_diet (id, u_id, meal, picture, food_name, details,
      description, create_time, created)
    values (#{id,jdbcType=INTEGER}, #{uId,jdbcType=BIGINT}, #{meal,jdbcType=VARCHAR}, 
      #{picture,jdbcType=VARCHAR}, #{foodName,jdbcType=VARCHAR}, #{details,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{created,jdbcType=DATE})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.jyss.ziwei.entity.BodyDiet" >
    update d_body_diet
    <set >
      <if test="uId != null" >u_id = #{uId,jdbcType=BIGINT},</if>
      <if test="meal != null" >meal = #{meal,jdbcType=VARCHAR},</if>
      <if test="picture != null" >picture = #{picture,jdbcType=VARCHAR},</if>
      <if test="foodName != null" >food_name = #{foodName,jdbcType=VARCHAR},</if>
      <if test="details != null" >details = #{details,jdbcType=VARCHAR},</if>
      <if test="description != null" >description = #{description,jdbcType=VARCHAR},</if>
      <if test="status != null" >status = #{status,jdbcType=TINYINT},</if>
      <if test="createTime != null" >create_time = #{createTime,jdbcType=TIMESTAMP},</if>
      <if test="created != null" >created = #{created,jdbcType=DATE},</if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!--查询日期-->
  <select id="selectCreated" resultMap="listBaseResultMap">
    select created from d_body_diet
    where u_id = #{uId} and status = 1 group by created desc
  </select>


  <select id="selectBodyDiet" resultMap="BaseResultMap">
    select id, u_id, meal, nullif(concat('${httpUrl}',picture), '${httpUrl}') as picture,
    food_name, details, description, status, create_time, created from d_body_diet
    <where>
      <if test="uId != null and uId != ''" >and u_id = #{uId}</if>
      <if test="meal != null and meal != ''" >and meal = #{meal}</if>
      <if test="created != null and created != ''" >and created = #{created}</if>
      and status = 1
    </where>
    order by create_time desc
  </select>

</mapper>