<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.ziwei.mapper.HealthNewsCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.ziwei.entity.HealthNewsCategory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fid" property="fid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>

  <insert id="insert" parameterType="com.jyss.ziwei.entity.HealthNewsCategory"
          useGeneratedKeys="true" keyProperty="id">
    insert into h_health_news_category (id, fid, name, picture, sort, created_at, last_modify_time, status)
    values (#{id,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{picture,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP},
      #{lastModifyTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.jyss.ziwei.entity.HealthNewsCategory" >
    update h_health_news_category
    <set >
      <if test="fid != null" >fid = #{fid,jdbcType=INTEGER},</if>
      <if test="name != null" >name = #{name,jdbcType=VARCHAR},</if>
      <if test="picture != null" >picture = #{picture,jdbcType=VARCHAR},</if>
      <if test="sort != null" >sort = #{sort,jdbcType=INTEGER},</if>
      <if test="createdAt != null" >created_at = #{createdAt,jdbcType=TIMESTAMP},</if>
      <if test="lastModifyTime != null" >last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},</if>
      <if test="status != null" >status = #{status,jdbcType=TINYINT},</if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!--查询所有类目-->
  <select id="selectNewsCategory" resultMap="BaseResultMap">
    select id, fid, name, picture, sort, created_at, last_modify_time, status
    from h_health_news_category
    <where>
      and status = 1
    </where>
    order by sort
  </select>

</mapper>