<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.ziwei.mapper.UserListenRecordMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.ziwei.entity.UserListenRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="BIGINT" />
    <result column="know_id" property="knowId" jdbcType="INTEGER" />
    <result column="listen_time" property="listenTime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="titles" property="titles" />
    <result column="in_pic" property="inPic" />
    <result column="vedio_time" property="vedioTime" />
  </resultMap>

  <insert id="insert" parameterType="com.jyss.ziwei.entity.UserListenRecord" useGeneratedKeys="true" keyProperty="id">
    insert into u_user_listen_record (id, u_id, know_id, listen_time, status, create_time,
      modify_time)
    values (#{id,jdbcType=INTEGER}, #{uId,jdbcType=BIGINT}, #{knowId,jdbcType=INTEGER},
      #{listenTime,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.jyss.ziwei.entity.UserListenRecord" >
    update u_user_listen_record
    <set >
      <if test="uId != null" >u_id = #{uId,jdbcType=BIGINT},</if>
      <if test="knowId != null" >know_id = #{knowId,jdbcType=INTEGER},</if>
      <if test="listenTime != null" >listen_time = #{listenTime,jdbcType=VARCHAR},</if>
      <if test="status != null" >status = #{status,jdbcType=TINYINT},</if>
      <if test="createTime != null" >create_time = #{createTime,jdbcType=TIMESTAMP},</if>
      <if test="modifyTime != null" >modify_time = #{modifyTime,jdbcType=TIMESTAMP},</if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!--查询视频历史-->
  <select id="selectUserListen" parameterType="long" resultMap="BaseResultMap">
    select a.id, a.u_id, a.know_id, a.listen_time, a.status, a.create_time,
    a.modify_time, b.titles, nullif(concat('${httpUrl}',b.in_pic), '${httpUrl}') in_pic, b.vedio_time
    from u_user_listen_record a left join h_health_news b on a.know_id = b.id
    <where>
      <if test="uId != null and uId != ''">and u_id = #{uId}</if>
    </where>
    order by a.modify_time desc
  </select>


  <!--插入或更新-->
  <insert id="updateUserListen" parameterType="com.jyss.ziwei.entity.UserListenRecord">
    insert into u_user_listen_record (id, u_id, know_id, listen_time, status, create_time, modify_time)
    values (#{id,jdbcType=INTEGER}, #{uId,jdbcType=BIGINT}, #{knowId,jdbcType=INTEGER},
    #{listenTime,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP},
    #{modifyTime,jdbcType=TIMESTAMP})
    ON DUPLICATE KEY UPDATE  modify_time = now(),listen_time = #{listenTime}
  </insert>

</mapper>