<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.ziwei.mapper.UserDevicesMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.ziwei.entity.UserDevices" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="mac_id" property="macId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <insert id="insert" parameterType="com.jyss.ziwei.entity.UserDevices" useGeneratedKeys="true" keyProperty="id">
    insert into u_user_devices (id, u_id, device_name,mac_id, status, create_time,
      last_modify_time)
    values (#{id,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER},
      #{deviceName,jdbcType=VARCHAR}, #{macId,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, now(), now())
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.jyss.ziwei.entity.UserDevices" >
    update u_user_devices
    <set >
      <if test="uId != null" >u_id = #{uId,jdbcType=INTEGER},</if>
      <if test="deviceName != null" >device_name = #{deviceName,jdbcType=VARCHAR},</if>
      <if test="macId != null" >mac_id = #{macId,jdbcType=VARCHAR},</if>
      <if test="status != null" >status = #{status,jdbcType=TINYINT},</if>
      <if test="createTime != null" >create_time = #{createTime,jdbcType=TIMESTAMP},</if>
      <if test="lastModifyTime != null" >last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},</if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--查询-->
  <select id="getUserDevice" resultMap="BaseResultMap" parameterType="String">
    select c.*   from u_user_devices c
    <where>
      1=1
      <if test="status != null and status !=''"> and c.status = #{status} </if>
      <if test="uId != null and uId !=''"> and c.u_id = #{uId} </if>
    </where>
    order by c.create_time desc
  </select>


  <!--删除-->
  <delete id="deleteUserDevice" parameterType="String">
    delete from u_user_devices
    <where>
      1=1
      <if test="id != null and id !=''"> and id = #{id} </if>
    </where>

  </delete>

</mapper>